@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="animation">
        <h2 class="display-4">Welcome</h2>
        </div>
        
        </div>

        <div id="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nDFXFDvHNqM?si=g7AsMI27RUz5IVHy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
